/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

/* Layout */
section {
    padding: 2rem 0;
}

.container {
    width: 100%;
    padding: 0 1rem;
}

.col {
    border: 3px solid blue;
    margin-bottom: 1rem;
}

/* TYPOGRAPHY */
h2 {
    margin-bottom: 1em;
}


/* MEDIA QUERIES */

/* Tablet */
@media screen and (min-width: 780px) {

    /* COMMON */

    /* Layout */

    .container {
        width: 80%;
        max-width: 900px;
        margin: 0 auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    

    /* MAIN */
    /* About section */
    #about .col:not(:first-child) {
        width: 48%;
    }

    /* Services section */
    #services .col {
        width: 30%;
    }
}